header {

    background-color: rgb(47, 176, 47);

    padding: 10px 0;

    text-align: center;

    }
    .nav-item{
        margin-left: 10px;
    }
    body {
        display: flex;
        flex-direction: column;
    }
   

    header nav{

        text-align: center;

    }

    header nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    text-align: center;

    display: flex;

    justify-content: space-between;

    }

    header nav ul li {

   

    text-align: justify;

    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 20px;

    color: white;

 

    }

    header nav ul li a{

        color: white;

        text-decoration: none;

    }

    header nav ul li img{

        height: 30px;

        width: 30px;

        border-radius: 10px;
        margin-right: 10px;
       

 

    }

    .heading img{

        height: 60px;

        width: 200px;

        border-radius: 10px;

        margin-top: 20px;

    }

    .heading ul {

        list-style-type: none;

        margin: 0;

        padding: 0;

        overflow: hidden;

        text-align: center;

        }

    .heading ul li {

        display: inline-block;

        margin-right: 40px;

        text-align: justify;

        font-family: "Algerian";

        }

        .search-container {

            display: flex;

           align-items: center;
           
 

        }

 

        .search-input {

            padding: 10px;

            border: 1px solid #ccc;

            border-radius: 5px 0 0 5px;

            outline: none;

        }

 

        .search-button {

            padding: 10px;

            background-color: rgb(4, 65, 4);

            color: #fff;

            border: 1px solid rgb(4, 65, 4);

            border-radius: 0 5px 5px 0;

            cursor: pointer;

            outline: none;

        }

    .HeadingNEWS{

        font-family: "Algerian";

        font-size: 80px;

        padding: 10px;

    }
    .kufiya ul li img{
        margin-top: 40px;
        max-width:100%;
        height:45px;
    }
    .kufiya ul{
        list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    text-align: left;

    display: flex;

    justify-content: center;
    }
    .kufiya ul li{
        float: left;

        text-align: justify;
   

    }
  
    

    .custom-line {
        border: 2px solid #333;
        margin: 20px 0;}





    .title {
        
        padding: 10px; /* Optional: Add padding to the title */
        font-family:Algerian;
        font-size:1.5cm;
        text-align: center;
      }
      .title2 {
        
        padding: 10px; /* Optional: Add padding to the title */
        font-family:Algerian;
        font-size:1.3cm;
        text-align: center;
      }
        p{
            font-family:Times New Roman (Headings CS);
            font-size:0.7cm;
            margin:1cm ;
           
             text-align: justify;
        }
        .container img{
            box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.3);
            height:720.5px;
            width: 70vw;
            
        }
        .beside{
            display: flex;
        }
        .otherNews{
            height:max-content;
            width: 20vw;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 45px;
            padding: 5px;
            background: radial-gradient(circle, gray, white);
            box-shadow: 5px 5px 10px rgb(167, 162, 162);
        }
     .main{
        height: auto;
        width: 77vw;
     }
        
        
    
        footer {
            background-color: #f4f4f4;
            padding: 10px 0;
            text-align: center;
            }
            footer nav ul {
                list-style-type: none;
        
                margin: 0;
            
                padding: 0;
            
                overflow: hidden;
            
                text-align: left;
            
                display: flex;
            
                
            }
            footer nav ul li {
            
            text-align: justify;
        
            font-family: Georgia, 'Times New Roman', Times, serif;
        
            font-size: 17px;
            margin-right: 10vw;
            }
            footer nav p{
                text-align: left;
                color:gray;
                margin: 0;
                font-size: 17px;

            }
            footer nav ul li a{
                color: #000;
        
            }
            .container {
                text-align: center; /* For inline elements */
            }
    
            
            .News1 ul li a, .News2 ul li a, .News3 ul li a, .News4 ul li a, .News5 ul li a, .News6 ul li a, .News7 ul li a, .News8 ul li a{
                color: #000;
                font-size: 30px;
            
            }
            .News1 ul, .News2 ul, .News3 ul, .News4 ul, .News5 ul, .News6 ul, .News7 ul, .News8 ul{
                list-style-type: none;
                    margin: 0;
                    padding: 5px;
                    
            
            }
            .News1 ul li p, .News2 ul li p, .News3 ul li p, .News4 ul li p, .News5 ul li p, .News6 ul li p, .News7 ul li p, .News8 ul li p{
                    font-size: 20px;
                    margin: 0;
                    padding: 5px;}
            .News1 ul li img, .News2 ul li img, .News8 ul li img, .News3 ul li img, .News4 ul li img, .News5 ul li img, .News6 ul li img, .News7 ul li img{
                padding:0;
                height: 29vh;
            
                width: 19.3vw;
            
                border-radius: 10px;
                margin-right: 50px;}
                .mostRead{
                    padding: 0;
                    height:auto;
                    width: 20vw;
                    text-align: center;
                    padding: 5px;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 25px;
                    background:radial-gradient(circle, wheat, white) ;
                    margin-bottom: 30vh;
                    
                    box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.3)
            }
            .mostRead ul li a{
                font-family: 'Courier New', Courier, monospace;
                font-size: 15px;
                color:black ;
                text-decoration: none;
            }
            .mostRead ul{
                list-style-type: none;
                margin: 0;
                padding: 5px;
            }
            .author{
                height:fit-content;
                width:77vw;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            
              }
              .author img{
                height: 30px;
            
                width: 30px;
            
                border-radius: 10px;
              }
              .author ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                text-align: left;
                }
                .author ul li {
                float: left;
                margin-right: 20px;
                text-align: justify;
                font-size: 20px;
                }
                .author p{
                    font-size: 17px;
                    color: gray;
                    margin-left: 5px;
            
                }
                .buttons ul {
                    list-style-type: none;
                
                    margin: 0;
                
                    padding: 0;
                
                    overflow: hidden;
                
                    align-items: center;
                
                    display: flex;
                
                }
                .button1{
                    margin-left:36.7vw;
                }
                .buttons ul li{
                    margin-right: 20px;
                }
                .buttons ul li button{
                
                text-align: center;
                
                font-family: Georgia, 'Times New Roman', Times, serif;
                
                font-size: 17px;
                height:7vh;
                width:5vw;
                }
                .buttons img{
                    height:30px;
                    width:30px;
                }
                @keyframes slideshow {
                    0% { background-image: url("images/page2a.jpeg");}
                    25% { background-image: url("images/PAGE2.jpeg");}
                    50% { background-image: url('images/pic3page2.jpeg'); }
                    100% { background-image: url('images/pic4page2.jpeg'); }
                }
                
                .animation {
                    height:720.5px;
                    width: 77vw;
                    background-size: cover;
                    animation: slideshow 17s infinite;
                    
                    /* Add more image URLs as needed, separated by commas */
                   
        }